attr==0.3.2
Brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.1.0
cryptography==43.0.1
docutils==0.21.2
filelock==3.16.1
h2==4.1.0
HTMLParser==0.0.2
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.5
js==1.0
keyring==25.4.0
Pillow==10.4.0
protobuf==5.28.1
PyAudio==0.2.14
pydub==0.25.1
pyOpenSSL==24.2.1
pyOpenSSL==24.2.1
PyQt5==5.15.11
PyQt5_sip==12.15.0
redis==5.0.8
requests~=2.32.3
simplejson==3.19.3
sounddevice==0.5.0
Sphinx==8.0.2
thread==2.0.5
zstandard==0.23.0